body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  width: 400px;
  margin: 50px auto;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #38bdf8;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

table {
  width: 100%;
  margin-top: 15px;
  font-size: 14px;
}

th, td {
  padding: 5px;
  text-align: left;
}
